<!-- templates/partials/footer.html -->
<footer class="bg-dark text-light mt-5 pt-4 pb-3">
  <div class="container">
    <div class="row">
        <hr>
      <!-- Sección EduFlash -->
      <div class="col-md-4 mb-3">
        <h5 class="text-primary">EduFlash</h5>
        <p>Microplataforma de cursos rápidos para aprender a tu ritmo.</p>
      </div>

      <!-- Sección Navegación -->
      <div class="col-md-4 mb-3">
        <h5 class="text-primary">Navegación</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Inicio</a></li>
          <li><a href="#" class="text-light text-decoration-none">Cursos</a></li>
          <li><a href="#" class="text-light text-decoration-none">Quiz</a></li>
          <li><a href="#" class="text-light text-decoration-none">Historial</a></li>
        </ul>
      </div>

      <!-- Sección Contacto / Redes -->
      <div class="col-md-4 mb-3">
        <h5 class="text-primary">Contacto</h5>
        <p>Email: jason.gutierrez@eduflash.com</p>
        <div class="d-flex gap-2">
          <a href="#" class="text-light"><i class="fa-brands fa-facebook fa-lg"></i></a>
          <a href="#" class="text-light"><i class="fa-brands fa-twitter fa-lg"></i></a>
          <a href="#" class="text-light"><i class="fa-brands fa-instagram fa-lg"></i></a>
        </div>
      </div>

    </div>

    <div class="text-center mt-3">
      <small>&copy; {{ current_year }} EduFlash. Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
