<!doctype html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icono_bolt.ico') }}">
    <title>{% block title %}EduFlash{% endblock %}</title>
</head>
<body>
    {% include 'partials/navbar.html' %}

    <div class="container mt-4 ">
        {% block content %}{% endblock %}
    </div>
    {% include 'partials/footer.html' %}

    <!-- Incluir modal desde partial -->
    {% include 'auth/login_modal.html' %}


    <!-- Toast Container -->
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1200">
    <div id="toastMessage" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
        <div class="toast-body" id="toastBody"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
        </div>
    </div>
    </div>
    <script src="https://kit.fontawesome.com/5098979384.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
